<?xml version="1.0" encoding="utf-8"?>
<!--
<paths xmlns:android="http://schemas.android.com/apk/res/android">
    <external-path
        android:name="my_images"
        android:path="Android/data/com.example.rinaattieh.sports_app_project/files/Pictures" />
</paths>
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rinaattieh.sports_app_project">

    <!-- Utile pour camera-->
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <!-- Pour enregistrer les donnees -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Pour photos
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>
        -->

        <activity
            android:name=".Go"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NewMatch" />
        <activity android:name=".Stat" />
        <activity android:name=".Players"></activity>
    </application>

    </manifest>